* {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  background-color:rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  /* background-color: gray; */
}

.navbar ul {
 
  float: right;
  list-style-type: none;
}

.navbar img {
  float: left;
  width: 200px;
 
}

.navbar li {
  /* display: inline-block; */

  float: left;
  padding: 20px;
  text-transform: uppercase;
}
.navbar a {
  text-decoration: none;
  color: white;
}

/*----- home section with modify by Amira Elmaghrabi ------*/
.home {
  height: 100vh;
  padding-top: 200px;
  color: white;
  background-image: url(images/bg.jpg);
  background-size: 100% 100%;
  background-position: bottom;
}
.home .settings{
  top: 20%;
  left: 0;
  position: fixed;
  background-color:#686868;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.home .setting i{
  font-size: 20px;
  color: white;
  
  
}

.home button {
  padding: 15px 28px;
  border: none;
  color: #fff;
}
.home .btn1 {
  background-color: #8e7754;
  font-size: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.home .btn2 {
  background-color: transparent;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
}
.home .btn2:hover{
  background-color: #fff;
  color:#8e7754
}

.home h1 {
  font-size: 76px;
  margin: 20px 0;
}

.home-caption {
  margin: auto;
  /* width: 25%; */
  text-align: center;
  padding: 5rem;

}
.home-caption p{
  font-size: 25px;
}
.home-caption .prg{
  font-size: 25px;
  padding-bottom: 20px;
}

.home-caption .prg::after{
  content: "";
  animation: slider 10s infinite linear  ;
  
}
@keyframes slider{
  0%{
      content: "& best bakery|";
  }
  1%{
      content: "& best baker|"; 
  }
  2%{
      content: "& best bake|";
  }
  3%{
      content: "& best bak|";
  }
  4%{
      content: "& best ba|";
  }
  5%{
      content: "& best b|";
  }
  6%{
      content: "& best |";
  }
  7%{
      content: "& best|";
  }
  8%{
      content: "& bes|";
  }
  9%{
      content: "& be|";
  }

  10%{
      content: "& b|";
  
  }

  11%{
      content: "& |";
  
  }
  
  12%{
      content: "& b|";
  
  }
  
  13%{
      content: "& be|";
  
  }
  
  14%{
      content: "& bes|";
  
  }
  
  15%{
      content: "& best|";
  
  }
  
  16%{
      content: "& best |";
  
  }
  
  17%{
      content: "& best b|";
  
  }
  18%{
      content: "& best ba|";
  }
  19%{
      content: "& best bak|";
  
  }
  
  20%{
      content: "& best bake|";  
  
  }
  21%{
      content: "& best baker|";
  
  }
  
  22%{
      content: "& best bakery|";
  
  }
  
  23%{
      content: "& best baker";
  
  }
  
  24%{
      content: "& best bake|";
  
  }
  
  25%{
      content: "& best bak|";
  
  }
  
  26%{
      content: "& best ba|";
  
  }
  
  27%{
      content: "& best b|";
  
  }
  
  28%{
      content: "& best |";
  
  }
  
  29%{
      content: "& best |";

  }

  30%{
      content: "& best|";

  }

  31%{

      content: "& bes|";

  }

  32%{
      content: "& be|";

  }

  33%{
      content: "& b|";

  }
  
  34%{
      content: "& |";

  }

  35%{
      content: "&|";

  }

}
/*------------------ end of home section--------------- */


/* who we are  */
.who {
  /* background-color: tomato; */
  overflow: auto;
  padding: 50px 0;
}
.left-side {
  /* background-color: teal; */
  width: 50%;
  float: left;
}
.right-side {
  /* background-color: indigo; */
  width: 50%;
  float: right;
  /* padding-top: 50px; */
  margin-top: 50px;
  padding-left: 50px;
}
.left-side img {
  width: 90%;
}

.right-side img {
  width: 50px;
}

ul {
  list-style-type: none;
}

.right-side span {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

/* our location */
.our-location{
    background-color: #f8f8f8;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 100px;
}
.our-location .location-caption{
    width: 50%;
  
    float: left;
    padding-top: 100px;
    padding-right: 100px;
}
.our-location .location-img{
    width: 50%;
    background-color: teal;
    float: right;
}
.our-location .location-img img{
    width: 100%;
}
.our-location h2{
    margin: 50px 0;
}
.our-location p{
    margin: 20px 0;
}


/* our baking */

.our-baking{
  
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
  
}
.our-baking img{
    width: 100%;
  
}

.our-baking .item{

    width: 25%;
    float: left;
    padding: 20px;
}
/*

media query



media type

print


speech

screen  all



media feature

<1000px

*/

@media all and (max-width:1200px) and (min-width:900px){
    .our-baking .item{
        width: 33.33%;
    }

}


@media all and (max-width:900px) and (min-width:700px){
    .our-baking .item{
        width: 50%;
    }


}
@media all and (max-width:700px){
    .our-baking .item{
        width:100%;
    }
    .left-side , .right-side{
      width: 100%;
    }


    .home h1 {
        font-size: 40px;
       
      }

      .our-location .location-caption{
          width: 100%;
      }
      .our-location .location-img{
          width: 100%;
      }
    

}

/* Contact section Style */
                                /* Contact information section by Mohamed Amin */
.contact{

  overflow:auto;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 80px;
  background-color: #F8F8F8;
 
}

.contactinformation{
  width: 50%;
  padding: 0px 20px;
  padding-right: 20px;
  line-height: 30px;
  float: left;
  color: #686868;
}
.space{
  overflow: auto;
  width: 90%; 
 margin:0 12.5%;
 text-align: justify;
 
}

.contactinformation p{
  padding: 25px 0px;
  }

.contactinformation h1{
  padding-top: 25px;
  color: black;
}

.contactinformation li{
  padding: 10px 0px;
}

.contactMapImg{
  width: 50%;
  float: right;
  height: 90%;
}         
                    /* End contact information section by Mohamed Amin */

/*


bootstrap

xlarge >1200px 

large  (992px - 768px)


medium  (768px - 576px) 

small   567px



*/